@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --pink: #f1356d;
  --gray: #738580;
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
}
body {
  background: #f0e5d0;
}
/* NAVBAR */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid var(--gray);
}
.navbar h1 {
  color: var(--pink);
  font-size: 1.8rem;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--pink);
}
.navbar .new-blog {
  color: white;
  background-color: var(--pink);
  border-radius: 12px;
}
.navbar .new-blog:hover {
  color: white;
}
/* CONTENT */
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Blog Section */
.blog-preview {
  background-color: white;
  padding: 15px 26px;
  margin: 20px 0;
  border-bottom: 1px solid var(--gray);
  border-radius: 25px;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.blog-preview h2 {
  font-size: 20px;
  color: var(--pink);
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}
/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
